	   body {
	     background:#ECECEC;
	   }
	  .tooltip, .green {
	    color:#191;
	    text-decoration: underline;
	  }
	  .tooltip_content{
    	font: 14px "Trebuchet MS",Verdana,Arial,sans-serif; 
    	overflow:hidden;
    	margin:0;
    	padding:0;
	  }
	  .tooltip_content h3 {
	    margin:0;
    	padding:0;
  	  }
	  .alphacube_content {
    	overflow:hidden;
	  }